{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIWA | Atendimento</title>
    <link data-react-helmet="true" rel="icon" type="png" sizes="16x16" href="https://aiwa.vteximg.com.br/arquivos/favicon_16x16_aiwa.ico"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.3">
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
</head>
<body>
    <div class="chat-wrapper">
        <header class="chat-header">
            <img src="https://mkbr.xgen.com.br/mkbr/chatng/assets/img/logo-cliente.aiwa.png" alt="Aiwa Logo" class="logo">
            <div class="header-status">CHAT</div>
            <div class="header-actions">
                <button id="volume-btn" class="icon-btn">🔊</button>
                <button class="icon-btn">➖</button>
                <button class="icon-btn close">✕</button>
            </div>
        </header>

        <main class="chat-messages" id="chat-box">
            <div class="message bot">
                <img src="https://mkbr.xgen.com.br/mkbr/chatng/assets/img/avatar-aiwa.png" class="avatar">
                <div class="bubble">
                    O seu protocolo para este atendimento é: <span id="protocolo"></span>.<br>
                    Para que possamos seguir com o atendimento precisamos de alguns dados pessoais. O Sr(a). Está de acordo?
                </div>
                <span class="time">16:45</span>
            </div>
        </main>

        <emoji-picker id="emoji-picker-box" class="emoji-picker-hidden"></emoji-picker>

        <footer class="chat-input-area">
            <div class="input-container">
                <button id="emoji-btn" class="emoji-btn">😊</button>
                <input type="text" id="user-input" placeholder="Digite uma mensagem..." autocomplete="off">
                <button id="send-btn" class="send-btn">➔</button>
            </div>
        </footer>
    </div>

    <script src="{% static 'js/main.js' %}?v=1.2"></script>
</body>
</html>