{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIWA | Atendimento</title>
    <link data-react-helmet="true" rel="icon" type="png" sizes="16x16" href="https://aiwa.vteximg.com.br/arquivos/favicon_16x16_aiwa.ico"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.3">
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <div id="lgpd-modal" class="modal-overlay">
        <div class="modal-content">
            <h3>Termos de Uso e Cookies 🍪</h3>
            <p>Para continuarmos o atendimento e personalizarmos sua experiência, utilizamos cookies para armazenar sua sessão por 24 horas. Você concorda em fornecer informações pessoais para seguirmos com o atendimento?</p>
            <div class="modal-buttons">
                <button id="btn-lgpd-sim" class="btn-primary">Sim, concordo</button>
                <button id="btn-lgpd-nao" class="btn-secondary">Não</button>
            </div>
        </div>
    </div>    
    <div class="chat-wrapper">
        <header class="chat-header">
            <img src="https://mkbr.xgen.com.br/mkbr/chatng/assets/img/logo-cliente.aiwa.png" alt="Aiwa Logo" class="logo">
            <div class="header-status">CHAT</div>
            <div class="header-actions">
                <button id="volume-btn" class="icon-btn">🔊</button>
                <button class="icon-btn">➖</button>
                <button class="icon-btn close">✕</button>
            </div>
        </header>

        <main class="chat-messages" id="chat-box">
            
        </main>

        <emoji-picker id="emoji-picker-box" class="emoji-picker-hidden"></emoji-picker>

        <footer class="chat-input-area">
            <div class="input-container">
                <button id="emoji-btn" class="emoji-btn">😊</button>
                <input type="text" id="user-input" placeholder="Digite uma mensagem..." autocomplete="off">
                <button id="send-btn" class="send-btn">➔</button>
            </div>
        </footer>
    </div>

    <script src="{% static 'js/main.js' %}?v=1.2"></script>
</body>
</html>